<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="activeProfile" source="spring.profiles.active" defaultValue="none"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.forsetijudge.core.config.logging.SanitizingPatternLayout">
                <pattern>ts=%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level env=%property{activeProfile} trace_id=%X{trace_id} span_id=%X{span_id} logger=%logger{36} msg=%msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="OTEL"/>
        </root>
    </springProfile>

    <springProfile name="development">
        <root level="INFO">
            <appender-ref ref="OTEL"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="OTEL"/>
        </root>
    </springProfile>

    <springProfile name="migration">
        <root level="INFO">
            <appender-ref ref="OTEL"/>
        </root>
    </springProfile>
</configuration>