entrypoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      tls: {}
api:
  dashboard: true
  insecure: true
providers:
  file:
    filename: /etc/traefik/providers.yaml
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
    network: forseti_network
log:
  level: INFO
accessLog: {}
metrics:
  prometheus: {}
tracing:
  serviceName: "traefik"
  otlp:
    grpc:
      endpoint: "alloy:4317"
