global:
  scrape_interval: 30s

scrape_configs:
  - job_name: "api"
    metrics_path: "/actuator/prometheus"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 8080
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_api
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "autojudge"
    metrics_path: "/actuator/prometheus"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 8081
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_autojudge
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "autojudge-autoscaler"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 7000
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_autojudge-autoscaler
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "cadvisor"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 8080
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_cadvisor
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "grafana"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 3000
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_grafana
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "loki"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 3100
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_loki
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "minio"
    metrics_path: "/minio/v2/metrics/cluster"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 9000
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_minio
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "node-exporter"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 9100
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_node-exporter
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "postgres"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 9187
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_postgres-exporter
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "prometheus"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 9090
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_prometheus
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "rabbitmq"
    metrics_path: "/metrics/per-object"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 15692
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_rabbitmq
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep

  - job_name: "traefik"
    dockerswarm_sd_configs:
      - host: unix:///var/run/docker.sock
        role: tasks
        port: 8080
    relabel_configs:
      - source_labels: [__meta_dockerswarm_service_name]
        regex: forseti_traefik
        action: keep
      - source_labels: [__meta_dockerswarm_task_desired_state]
        regex: running
        action: keep
