stream_over_http_enabled: true
server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"

storage:
  trace:
    backend: s3
    s3:
      endpoint: minio:9000
      insecure: true
      forcepathstyle: true
      access_key: ${MINIO_ACCESS_KEY}
      secret_key: ${MINIO_SECRET_KEY}
      bucket: ${MINIO_BUCKET}
    wal:
      path: /var/tempo/wal

metrics_generator:
  registry:
    external_labels:
      source: tempo
  storage:
    path: /var/tempo/metrics-generator/wal
    remote_write:
      - url: http://prometheus:9090/v1/write
  traces_storage:
    path: /var/tempo/metrics-generator/traces
  processor:
    service_graphs:
      dimensions:
        - http.method
        - http.target
        - http.status_code
    span_metrics:
      dimensions:
        - http.method
        - http.target
        - http.status_code

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]
