VERSION=latest
PORT=8081
DEBUG=false
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=forsetijudge
AWS_SECRET_ACCESS_KEY=forsetijudge
AWS_S3_BUCKET=dev-forseti-core-bucket
AWS_SQS_SUBMISSION_QUEUE=dev-forseti-judge-submission-queue
AWS_SQS_SUBMISSION_JUDGED_QUEUE=dev-forseti-core-submission-judged-queue