# Environment
.idea/
venv/
.env

# Cache
**/__pycache__/
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Distribution files
build/
dist/
*.spec

# Generated config file
cli/_config.py

# Misc
backups/
certs/
sandboxes/
stack.yaml